{% extends 'base.html.twig' %}

{% block body %}
   
{% set bg = asset('build/images/' ~ background)  %}

<<<<<<< HEAD
<div class="landing-bg" style="background-image: url({{bg}});">  </div>

<div style="background-color: wheat; width : 100vw; height: 10em"></div>



    
    {{ form_start(form) }}
    
    {{ form_end(form) }}
  


{% endblock %}
=======
<div class="landing-bg" style="background-image: url({{bg}});"></div>
{% endblock %}


>>>>>>> 4169ba6abc8b63ed50867c57a50d6bcee647995b
