{% extends 'base.html.twig' %}

{% block body %}
   
{% set bg = asset('build/images/' ~ background)  %}

<div class="landing-bg" style="background-image: url({{bg}});">  </div>

<div style="background-color: wheat; width : 100vw; height: 10em"></div>



    
    {{ form_start(form) }}
    
    {{ form_end(form) }}
  


{% endblock %}