{% extends 'base.html.twig' %}

{% block title %}WhereIGo{% endblock %}

{% block body %}

<div class="page">

    <ul>
        <li><a href="" class="btn btn-light">accueil</a></li>
        <li><a href="" class="btn btn-light">trouver VOTRE expérience</a></li>
        <li><a href="" class="btn btn-light">nos expériences</a></li>
        <li><a href="" class="btn btn-light">connexion</a></li>
        <li><a href="" class="btn btn-light">inscription</a></li>
        <li><a href="" class="btn btn-light">contacts</a></li>
        <li><input type="text" placeholder="rechercher une expérience" class="btn btn-light"> </li>
    </ul>

</div>
{% endblock %}
