{% extends 'base.html.twig' %}

{% block title %}WhereIGo{% endblock %}

{% block body %}

<ul>
    <li><a href="" class="btn btn-light">accueil</a></li>
    <li><a href="" class="btn btn-light">trouver VOTRE expérience</a></li>
    <li><a href="" class="btn btn-light">nos expériences</a></li>
    <li><a href="" class="btn btn-light">connexion</a></li>
    <li><a href="" class="btn btn-light">inscription</a></li>
    <li><a href="" class="btn btn-light">contacts</a></li>
    <li><a href="" class="btn btn-light">rechercher une expérience</a></li>
</ul>

{% endblock %}
