{% extends 'base.html.twig' %}

{% block title %}Réserver votre WIG!{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    {# <img src="{{ asset('build/images/' ~ place.pictures.0) }}" class="card-img-top" alt="..."> #}
    <div class="booking">
       <p><span>Super !</span><br>
        Vous avez décidé de vivre une expérience unique à <span>{{place.name}} !</span><br>
        Regardons un peu à quelle date il y a de la place !</p>
    <!-- Inclusion du formulaire de date !! -->
    {% include 'booking/form.html.twig' with {form: form} %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
<!-- Datepicker link js-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<!-- Daterange picker calendar js -->
<script>

$(document).ready(function(){


   var noValid = [{% for night in place.noDispoDate %}
                        '{{night.date | date("d-m-Y")}}',
                   {% endfor %}
                  ]
    $(function() {
         
        $('.range').daterangepicker({

          opens: 'center',
          "maxSpan": {
              "days": 7
              
           },

           locale: {
                    cancelLabel: 'Annuler',
                    applyLabel: 'Go !',
                    daysOfWeek: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve','Sa'],
                    monthNames: ['Janvier','Fevrier','Mars','Avril','Mai','Juin',
                                'Juillet','Août','Septembre','Octobre','Novembre','Decembre'],
                    monthNamesShort: ['Jan','Fev','Mar','Avr','Mai','Jun',
                                'Jul','Aou','Sep','Oct','Nov','Dec'],
                    }, 
           minDate: new Date(),
          isInvalidDate: function(date){
            //console.log(date);   
          return noValid.includes(date.format("DD-MM-YYYY"));

          },
          
        },
        function(start, end, label) {
            console.log(start, end);
            
          $('#booking_start_at').val( start.format('YYYY-MM-DD') ) + ' to ' + $('#booking_end_at').val( end.format('YYYY-MM-DD') );
        });
    });
    $('.range').on('change', totalNight);   
      
});
function totalNight(){
        // on prend les dates
        console.log(nights);
        
        const startAt = new Date($('#booking_start_at').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
        const endAt   = new Date($('#booking_end_at').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

        if(startAt && endAt && startAt < endAt){

            const DAY_TIME = 24 * 60 * 60 * 1000;

            const interval = endAt.getTime() - startAt.getTime();
            const nights   = interval / DAY_TIME;
            const total    = nights * '{{ place.price }}';

            $('.details').css({visibility:"visible", opacity: 0.0}).animate({opacity: 1.0},200);
            $('#nights').text(nights);
            $('#total').text(total.toLocaleString('fr-FR'));
        }
    }

</script>
<!-- End picker calendar js -->
{% endblock %}
