{{ form_start(form) }}
<div>      
        {{ form_row(form.start_at) }}
            <input class="range form-control text-center" type="text" name="daterange"/>
        {{ form_row(form.end_at) }}
    <div class="details">
            <p><span>Canon !</span></span><br>Vous avez choisis d'y passer <span id="nights"></span> nuit(s) !<br>
            {# Voici le prix de votre Wig :  <span id="total"></span> € #}</p>
         
        <button type="submit" class="btn-book">Je bloque mes dates</button>
    </div>
       
</div>


{{ form_end(form) }}