@import 'variables.scss';
@import 'mixins.scss';
@import 'forms.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import 'header.scss';
@import 'footer.scss';
@import 'header-responsive.scss';
@import 'footer-responsive.scss';
@import 'list.scss';
@import 'show.scss';



body {
    font-family: 'Manrope', sans-serif ;
    color: $text_color;
    position: relative;
}

.blur-background{
    @include bg-pos;
    z-index: 7000;
}

.background-header{
    height: 0px;
    width: 100%;
    z-index: 7000;
    position: absolute;
    top: 0 ;
    width: 100%;
    box-shadow:  -1px 9px 152px 69px rgba(255,255,500,1);
    /* box-shadow: 13px 35px 72px 27px rgba(255,255,255,1); */
}

li{
    list-style: none;
}





