@media screen and (min-width: 992px)
{

.footer-container{
    display: flex;
}

footer{
    padding: 20px;
    height: 200px;
    color: white;
    background-color: #696866a1;
    max-width: 100vw;
    
    a{
        text-decoration: none;
        color: white;
    }
}
}