.left-footer-container{
    display: flex;
}

footer{
    height: 300px;
    background-color: $btn_color;
    
    a{
        color: $text_color;
    }

    .logo-footer{
        visibility: hidden;
    }

    .row-footer{
        height: 300px;
    }
}