
/* MOBILE FIRST => CETTE PAGE CONCERNE LLE DISPLAY MOBILE */

@import 'variables.scss';

.form-error {
	color: #e04447;
    font-size: 13px;
    li{
        list-style:none;
    }
}

.form-control{
    margin-top: 10px;
}

.btn-primary{
    background-color: $btn_color;
    border-color: $btn-color;
}

.toaster{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX( -50% );
    z-index: 9999;
}

.register{
    padding-top: 15vh;
}

.login{
    padding-top: 15vh;
}

#contactForm{
    padding-top: 13vh;
}

.edit{
    padding-top: 100px;
}