@import 'variables.scss';

.form-error {
	color: #e04447;
    font-size: 13px;
    li{
        list-style:none;
    }
}

.form-control{
    margin-top: 10px;
}

.btn-primary{
    background-color: $btn_color;
    border-color: $btn-color;
}

