
/* MOBILE FIRST => CETTE PAGE CONCERNE LLE DISPLAY MOBILE */

.nav-links{
    
    .start{
        @include shadow;
    }
}



.background-header{
    height: 0px;
    width: 100%;
    z-index: 7000;
    position: fixed;
    top: 0 ;
    width: 100%;
    box-shadow:  -1px 9px 70px 69px rgba(255,255,500,1);
    /* box-shadow: 13px 35px 72px 27px rgba(255,255,255,1); */
}
    
   .nav-links{
    top: 0;
   }


.page {
    display: flex;
    flex-direction: column;
    min-height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    ::placeholder {
        color: rgb(253, 253, 253);
        font-size: 0.9rem;
      }    

    .row{
        
        margin: 0;
        padding: 0;
        justify-content: center;
        align-content: center;
        
    }

    .nav-links {
        position: fixed;
        z-index: 8000;
        top: 0;
        width: 100%;
    }

    .hideMenu{
        
        display: none;
        z-index: 4000;
    }
    

    .logo{
        visibility: hidden;
        /* text-align: center;
        padding-top: 1em;
        margin-bottom: 2em; */

        svg {
            width:7vw;
            fill: $green_color;

        }
    }


    .menu-middle, .bloc-middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 0;
       
        
        ul, li {
            list-style: none;
            margin: 1.5em;
            
            
            

            a{
                border-radius: 3em !important;
                font-size:0.6em;
                font-weight: 600;
                color:#7f7c71;
                padding: 1.2em 2.6em;
                @include shadow;
            }
        }
    } 

    .bloc-end{

        display: flex;
        flex-direction: column;
        align-items: center;

        a{
            border-radius: 3em !important;
            font-size:0.6em;
            font-weight: 600;
            color:#7f7c71;
            padding: 1.2em 2.6em;
            margin: 1.5em;  
            @include shadow;                   
        }

        input{
            border-radius: 2em ; 
            background-color: gainsboro;
            border: none;
            padding: 0.6em 2.6em;
        }
    }


    


    .search{
        order: 3;
    }

    .deconnexion {
        background-color: darkred;
        opacity: 0.8;
    }


    }
