

/* A partir de la LARGEUR d'un laptop, ci-dessous le comportement des elements */

@media screen and (min-width: 1200px)
{
    .page .hideMenu {
        display: flex;
        padding-right: 10vw!important;   
    } 
    .bloc-middle{
        flex-direction: row;
        margin-right: 5vw!important;
}

.bloc-end{
    margin-left: 5em!important;
    margin-right: 1em!important;
}
}



@media screen and (min-width: 992px)
{

    .background-header{
        height: 0px;
        width: 100%;
        background: linear-gradient(white,white, rgba(255, 255, 255, 0.404), rgba(255, 255, 255, 0.192));
        z-index: 7000;
        position: absolute;
        box-shadow:  -1px 9px 56px 89px rgba(255,255,255,1);
        /* box-shadow: 13px 35px 72px 27px rgba(255,255,255,1); */
    }


    .logo{
        display: initial!important;
        margin-right: 5vw;
    }

    .row{
        height: initial !important;  
    }

    .page{
        min-height: 100vh;
        display: flex;
        flex-direction: column; 
    }

    main{
       
        flex-grow: 1;
    }

    header{
        height: 0px;
        position: relative;
    }


    .nav-links{
      display: flex;
      align-items: baseline;
      min-width: 100vw;
      justify-content: space-around;
      padding-top: 1vh;
     
      .bloc-middle{
          flex-direction: row;
          margin-right: 0;
          
          li{
              margin: 0.5em;

              a {
                border-radius: 3em !important;
                font-size:0.6em;
                font-weight: 600;
                color:#7f7c71;
                padding: 1em 2.6em;
              }   
          }
      }

      .bloc-end{
        flex-direction: row;
        margin-left: 0;

        a{
            border-radius: 3em !important;
            font-size:0.6em;
            font-weight: 600;
            color:#7f7c71;
            padding: 1em 2.6em;
        }

        input {
            border-radius: 2em ; 
            background-color: whitesmoke;
            font-family: 'Manrope', sans-serif;
            border: none;
            padding: 0.4em 2.6em;
        }

        .search{
            order: 1;
            margin: 0.5em;
        }

        .connexion{
            order: 2;
            margin: 0.5em;
        }

        .inscription{
            order: 3;
            margin: 0.5em;
        }
      }   
  } 

 .page .hideMenu {
    display: flex;
    padding-right: 0;
    
} 

  .page .toggle {
    display: none;
}
}



