.landing-bg{
    @include bg-pos;
    background-size: cover;
    z-index: -1;
}

.form-tunnel{
    margin-top: 10em;
}


.reponses{
    input{
        visibility: hidden;
    }
    

    label{
        background-color: gray;
        padding: 1em, 0em;
        color: rgb(21, 228, 38);
        border-radius: 2em;
    }
}