




.landing-bg{
    @include bg-pos;
    background-size: cover;
    z-index: -1;
}


/* TUNNEL */
.form-tunnel{
    margin-top: 10vh;
    height: 300px;
    padding-top: 10vh;
    font-size: 1.5vw;

    .question{
      flex-direction: column;
      align-items: center;


      div{

        label{
          border-radius: 2em;
          padding: 0em 1em;
          color: white;
          @include text-disable;
          margin-right: 0.5em;
        }

        input:checked + label{
          background-color: rgb(88, 88, 88);
        }

        input:hover + label{
          background-color: rgb(88, 88, 88);
        }
      }

      input{
        display: none;
      }
    }

    .button-tunnel-container{
      justify-content: center;

      div{
        justify-content: center;
      }
    }
}


