




.landing-bg{
    @include bg-pos;
    background-size: cover;
    z-index: -1;
}


/* TUNNEL */
.form-tunnel{
    margin-top: 10vh;
    height: 300px;
    padding-top: 18vh;
    font-size: 1.5vw;

    .question{
      flex-direction: column;
      align-items: center;
      margin-top: 7vh;

      label{
        font-weight: 700;
        font-size: 1.5vw;
      }

      div{

        margin-top: 7vh;
        /* Reponses tunnel */
        label{
          border-radius: 0.4em;
          padding: 0em 1em;
          color: white;
          @include text-disable;
          margin-right: 0.5em;
          background-color: $btn_color;
        }
        /* label::after{
          content: '';
          position: absolute;
          width: 20vw;
          height: 1vh ;
          background-color: red;

        } */

        input:checked + label{
          background-color: rgb(88, 88, 88);
        }

        input:hover + label{
          background-color: rgb(88, 88, 88);
        }
      }

      input{
        display: none;
      }
    }

    .button-tunnel-container{
      justify-content: center;

      div{
        justify-content: center;
      }
    }
}


