/* Text top */

#placeHasCategories{

  label{
    background-color: $btn_color;
    border-radius: 2em;
    padding: 0em 1em;
    color: white;
    @include text-disable;
    margin-right: 0.5em;

  }
  input:checked + label{
    background-color: rgb(88, 88, 88);
  }

  input{
    display: none;
  }
}

.btn-filter{
  background-color: $btn_color;
  border-radius: 2em;
  padding: 0em 1em;
  font-size: 1.3rem;
  margin-top:1em ;
  margin-bottom:1em ;
}

.filters-container{
  padding-top: 28vh;
  padding-left: 1em;
  

  .first-container{
    position: relative;
  }

  h2::before{
    content: '';
    background-color: red;
    width: 100px;
    height: 2px;
    position: absolute;
    top: 2vh;
  }
  
}

/* CARDS */

.card{
    border: none;

    a{
        border-radius: 1.5em;
    }
}

.card-img-top{
  border-radius: 0.5em;
}

.photo-wigs{
    overflow: hidden;
    height: fit-content;    
}

html{
    width: 100%;
}

.wigs{
  
    padding: 0px;
}


/* Masonry pour layout list */

.masonry {
    margin: 0;
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
  
  .masonry {
    
    color: #333;
    border-radius: 0.3rem;
    position: relative;
    min-height: 100vh;
  }
  
  .masonry {
    .test {
      counter-reset: div;
      display: inline-block;
      margin: 0 auto;
    }
  } 
  .masonry  {
    counter-increment: div;
  }
  .masonry > * .test:first-child::before {
    content: counter(div) '/ ';
  }

  /* Responsive */

  @media screen and (min-width: 768px) {
    .masonry {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
              overflow: hidden;
              
    }

    .masonry-container {
              padding: 1em;
    }
}

  @media screen and (min-width: 1200px) {
    .masonry {
      -webkit-column-count: 4;
         -moz-column-count: 4;
              column-count: 4;
             
    }
  }

 