
/* MOBILE FIRST => CETTE PAGE CONCERNE LE DISPLAY MOBILE */

/* Text top */
.pagination {

  font-size: 0.4em;
}

.filters-container{
  padding-top: 20vh;
  

  .first-container{
    position: relative;
    padding-left: 1em;
  }  

  
}

  .voile{
    
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: white;
    z-index: -1;

    
  }




/* Filtres */
.form-filter{

  label{
    font-weight: 700;
    color: $green_color;
    border-bottom: solid 2px $green_color;
    margin-bottom: 3vh;
  }

  #placeHasCategories{

    
    margin-top: 2vh;

    label{
      color: $green_color;
      font-weight: 400;
      background-color: transparent;
      border-radius:  2em;
      border: solid 2px $green_color;
      padding: 0.2em 1.3em;
      @include text-disable;
      margin-right: 0.5em;
      
      
    }

    label:hover {
      cursor: pointer;
    }
    
   
    input:checked + label {
      background-color: rgb(88, 88, 88);
      color: white;
    }
  
    input{
      display: none;
    }
  }

  .price-filter{

    margin-top: 1vh;
    input{
      border: none;
      margin-left: 1vw;
    }
  }
  
  
  /*SLIDER*/
  
  .slider{
    width: 30vw;
    margin-left: 1vw;
    margin-bottom: 2.5vh;
   
    
  
    .noUi-handle{
      
      background-color: white;
      
    }
  
  }
  
  .btn-filter{
    background-color: rgba(35, 35, 202, 0.815);
    border-radius: 2em;
    padding: 0em 1em;
    font-size: 1.3rem;
    margin-top:1em ;
    margin-bottom:1em ;
  }

  .noUi-connect {
    background: $green_color;
}


  
}


/* CARDS */

.card{
    border: none;

    a{
        border-radius: 2.5em;
    }
}

.title-card {
  

  span {
    font-weight: 400;
  }
}

.photo-wigs{
    overflow: hidden;
    height: fit-content;    
}

html{
    width: 100%;
}

.wigs{
  
    padding: 0px;
}

.brique {

  padding:0.1em;
}


/* Masonry pour layout list */

.masonry {
    margin: 0;
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
  
  .masonry {
    
    color: #333;
    border-radius: 0.3rem;
    position: relative;
    min-height: 100vh;
  }
  
  .masonry {
    .test {
      counter-reset: div;
      display: inline-block;
      margin: 0 auto;
    }
  } 
  .masonry  {
    counter-increment: div;
  }
  .masonry > * .test:first-child::before {
    content: counter(div) '/ ';
  }

  //------------- Pagination style ! -------------------//

  
.page-link {

    border-radius: 30px;
    margin: 0.2em;
    color: $green_color;

  }




.page-item:first-child .page-link, .page-item:last-child .page-link {

  border-radius: 30px!important;
  background-color: transparent!important;
  color: $green_color;

    a {
      color: $green_color;
      background-color: transparent!important;
    }

    a:hover {

      color:red;
    }
}

.page-item.active .page-link {
  background-color: $green_color;
  border-color: $btn_smooth;
}
  

  

  /* RESPONSIVE */

  @media screen and (min-width: 319px) {

    .brique {

      padding:0.5em;
    }

    .search-wig{
      width: 70%;
    padding: 0.1em;
      border-radius: 3em;
      font-size: 1em;
    }


  }

  @media screen and (min-width: 768px) {

    .search-wig{
      width: 25%;
      border-radius: 3em;
      font-size: 1em;
    }

    .masonry {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
              overflow: hidden;
              .card-img-top{
                border-radius: 0.5em;
              }      
    }

    .pagination {

      font-size: 0.8em;
    }

    .masonry-container {
              padding: 1em;
    }

    .second-container {

      h2 {
        font-size:2em;
        margin-left: 0.3em;
      }
      
      p{
        padding: 12px;
        width: 60vw;
        width: 39vw;
        font-size: 1.3em;
        font-weight: 500;
      }
    }
}

  @media screen and (min-width: 1200px) {

    .search-wig{
      width: 23%;
      border-radius: 3em;
    }
    .masonry {
      -webkit-column-count: 4;
         -moz-column-count: 4;
              column-count: 4;
             
    }
  }

 