
/* MOBILE FIRST => CETTE PAGE CONCERNE LLE DISPLAY MOBILE */

#map {
    width: 100%;
    height: 30vh;
    background-color: grey;
    margin-bottom: 20px;
    margin-top: 20px;


}
.claim{
    padding-top: 110px;
}

.gm-style-mtc {

        font-size: 0.2em!important;
    }
    

