
/* MOBILE FIRST => CETTE PAGE CONCERNE LLE DISPLAY MOBILE */


.receipt{

    h5 {
        border-bottom: none;
        font-size: 0.8em;
    }

    dd, dt {
        font-size: 0.8em;
        color: $green_color;
    }
}