
/* MOBILE FIRST => CETTE PAGE CONCERNE LLE DISPLAY MOBILE */

.showContainer{
    margin-top: 15vh;

}
.carousel-inner img {
    width: 100%;
    height: 50%; 
    object-fit: cover; 
}

.img-result{
    object-fit: cover;
    height: 550px;
    width: 60vw;
    border-radius: 0.8em;
}
h2 {
    color: $green_color;
    font-weight: 800;
    border-bottom: solid 5px;
    display: inline-block;
    line-height: 1.4em;   
}

h5 {
    color: $green_color;
    font-weight: 800;
    border-bottom: solid 3px;
    display: inline-block;
    font-size: 1em;
    line-height: 1.5em;
}

p {
    color: $green_color;
    font-size: 0.8em;
    line-height: 1.4em;
}

.btn-book {
    color: $green_color;
    background-color: $btn_smooth;
    padding: 1em 3em;
    border-radius: 2em;
    border: transparent;
    font-size: 0.7em;
    margin-bottom: 5em;
    
}

