{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}

<div class='container'>

    <h1>Contact</h1>
    <br>
    <br>

    <p><strong>Prénom: </strong>{{ contact.firstname }}</p>
    <p><strong>Nom: </strong>{{ contact.lastname }}</p>
    <p><strong>Email: </strong>{{ contact.email }}</p>
    <p><strong>Message: </strong>{{ contact.message }}</p>

</div>

{% endblock %}