{% extends 'base.html.twig' %}

{% block title %}Votre prochain voyage{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            {{ dump(place) }}
       </h1>
    </div>
{% endblock %}
